<div id="container">
  <ul >
    <%(1..10).each do |id|#start of loop%>
      <li>
        <div style="border:1px solid">
            <%="Number : #{id}"%>
        </div>
      </li>
    <%end%>
  </ul>
</div>