<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<%= javascript_include_tag :defaults, :cache => 'cache/all' %>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Test</title>
</head>
<body>
<form action="/test" method="post">
  <input type="text" name="rule[condition_list][][text]"  value="text1" /><br />
  <input type="text" name="rule[condition_list][][value]" value="value1" /><br />
  <input type="text" name="rule[condition_list][][text]"  value="text2" /><br />
  <input type="text" name="rule[condition_list][][value]" value="value2" /><br />
  <input type="text" name="rule[condition_list][][text]"  value="text3" /><br />
  <input type="text" name="rule[condition_list][][value]" value="value3" /><br />
  <%= submit_tag 'Submit' %>
  <%= button_to_remote 'Update', :url  => { :action => 'preview', :id => 1 }, :with => "Form.serialize(this.form)", :method => :put %>
</form>
</body>
</html>
